*{
    background-color: transparent;
}
.book{
  color: rgb(222, 49, 10) !important;
}
.l{
  padding-top: 10px;
  font-size: 110px;
  color: rgb(222, 49, 10);
}

.c{   
  color: aliceblue;
  background-color: #000000;
}

.abc{
  background-color: #000000;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: rgb(222, 49, 10);
  font-weight: 700;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  padding-right:  8px ;
  cursor: pointer;
}
li{
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-around;
  padding: 9px 12px;
}
.nav-option {
  color: rgb(203, 203, 203);
  padding-right: 1%;
  font-size: 25px;
  background-color: black;
}
.nav-option:hover{
  color: #ffffff !important;
}
.Navactive a{
  font-size: 25px;
  background-color: black;
  color:  #ff5d30 !important; 
}
.nav-active:hover{
  color: #ff5d30;
}
.logo{
    width: 65px;
    margin: 10px 30px 10px;
    cursor: pointer;
}
.logo3{
  width: 65px;
  margin: 14px 10px 20px 0px;
  scale: 0.2;
  visibility: hidden;
  backface-visibility: visible;
}
/* cards */

.main-card--cointainer {
  display: grid;
  transform: translateY(1.9%);
  grid-template-columns: repeat(3, minmax(460px, 460px));
  grid-gap: 0.5rem;
  justify-content: space-around;
 
}

.main-card--cointainer2 {
  display: grid;
  /* transform: translateY(6%); */
  grid-template-columns: repeat(4, minmax(350px, 450px));
  grid-gap: 2.5rem;
  padding: 6px;
  justify-content: space-around;
 
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeSwipeUp {
  to {
    opacity: 1;
    transform: translateY(-22%);
  }
}

.card-container{
  margin: 55px auto 0;
  position: relative;
  display: grid;
  grid-template-columns: 4fr;
   /* animation: fadeInOut 0.3s  alternate;  */
   animation: fadeSwipeUp 2.5s forwards; 
}

.card-container2{
  margin: 55px auto 0;
  position: relative;
  display: grid;
  grid-template-columns: 4fr;
   animation: fadeSwipeUp 2s forwards; 
}


.card-container img {
  /* max-width: auto;
  height: 240px; */
  width: 100%;
  height: 100%;
  object-fit: cover;   
}
.imageholder{
  width: 100%;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
 
}
.circularframe{
  width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid #fff;
      
}
.card h2{
      width: 370px; /* Adjust the width as needed */
      white-space: nowrap;
    font-size: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.card {
  color: rgb(154, 155, 156);
  border-radius: 34px;
  border-width: 1px;
  background-color: #1b1b1b;
  padding: 30px;
  position: relative;
  border-color: #fc1403;
  box-shadow: 0 0 45px rgba(255, 3, 3, 0.826);
  z-index: 1;
}

.card-body {
  display: inline-block;
}

.card-author {
  font-weight: 900;
  color: #ffffffb7;
  display: block;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.card-title {
  font-family: "Cormorant Garamond", serif;
  color: #ff1e1e;
  font-size: 55px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
  text-transform: capitalize;
}

.card-description {
  /* display: inline-block; */
  font-weight: 300;
  font-size: large;
  line-height: 22px;
  margin: 10px 0;
}

.card-read {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 15px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
  z-index: 1;
}

.card-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 55%;
}

.card-tag {
  margin-top: -20px;
  float: right;
  margin: 5px 0 0;
  border: 1px solid #e30b0b;
  padding: 15px 20px;
  cursor: pointer;
  z-index: 2;
}



.card-tag:hover {
  background: #ec1d1d;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 75px rgba(255, 3, 3, 0.964);
  z-index: 3;
}

.card-media {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1),
    0 0 100px 3px rgba(0, 0, 0, 0.25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}

/* y2 clone */
a {
 text-decoration: none;
  background-color: #000000;
}


::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}


@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }

}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:200px;
  }
}




/* home */
hr{
  align-self: center;
  scale:0.6;
  border-color: #f3f1f1;
  background-color: transparent;
}

.heading{
  background-color: transparent !important;
  color: #dedede;
}

.icon1{
  width: 38px;
  padding-right: 0px;
  background-color: transparent;
  /* padding-bottom: 5px; */

}

.full-body-wrapper{
  background-color: transparent;
  display: flex;
  margin-top: auto;
  height:auto;
  padding: 30px 40px 100px 17px;
  align-content: center;
  justify-content: center;
}


.container1 img{
  padding: 20px;
  position: relative;
  width: auto;
  height: 130px; 
  background-color: #000000;

}
.section2{
  background-color: transparent;
}
.cardbutton{
  background-color: transparent;
  width: 90%;
  font-size: 20px;
}
.cardbutton img{
  height: 40px;
  width: auto;
  background-color: transparent;
  padding-right: 1.5%;
  
}

#signInButton span ,#signOutButton span{
  color: transparent;
  background-color: transparent;
  visibility: hidden;
  padding: 0px !important;
}

#signInButton button{
  transform: translateY(13px) translateX(-120px);
  z-index: 1 !important;
  width: 240px;
  height: 30px;
  color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;  
  position: absolute;
  background-color: transparent !important;
  
}

#signOutButton button{
  transform: translateY(13px) translateX(10px);
  width: 30px;
  height: 30px;
  position: absolute;
  color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;  
  z-index: 3 !important;
  background-color: transparent !important;
}

#signOutButton1 button{
  transform: translateY(13px) translateX(-120px);
  width: 240px;
  color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;  
  height: 30px;
  position: absolute;
  z-index: 3 !important;
  background-color: transparent !important;

}

#signInButton ,#signOutButton{
  background-color: transparent !important;
}

.button-cont{
  margin-bottom: 1.7rem;
  margin-top: 2px;
  border: 1px solid #989898c6;
  align-self: center;
  padding-top:10px ;
  background-color: transparent;
  border-radius: 35px;
  scale: 0.9;
  width: 100%;
  height: 55px;
  cursor: pointer;
  align-self: center;
  display: grid;
  align-items: center;
  font-size: 23px;
  color: #e9e9e9;
  font-weight: 600;
  font-family:sans-serif;
  display: flex;
  flex-direction: column; 
}
.button-cont:hover{
  border-color: #ffffff;
}
.card-container1{
  animation: spin 2.5s linear infinite;
  margin: 40px auto 0;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 19px 5% 40px;
  background-color: #000000;
  color:#838383;
  border-radius: 2%;
  border: 1px solid #e30b0b;
  box-shadow: 0 0 65px rgba(255, 3, 3, 0.845);
  justify-content: space-between;
  align-items: center;
}

/* new login */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    padding: 0;
    margin: 0; 
    font-family: 'Quicksand', sans-serif;
}

.container ,.profcontainer {
    position: absolute;
    top: 40%;  left: 70%;
    transform: translate(-50%,-50%) ;
    width: 370px;   height: 530px;
    border-radius: 30px;
    transition: .5s;
}

.Classcontainer{
  position: absolute;
  top: 80%;  left: 70%;
  transform: translate(-50%,-50%) ;
  width: 370px;   height: 530px;
  border-radius: 30px;
  transition: .5s;

}

.face .Classcontainer{
  height: 280px !important;
  transform: translate(-50%,-90%)


}

.containerlogo{
  position: absolute;
  top: 65%;  left: 30%;
  transform: translate(-50%,-50%) ;
  width: auto;   height: 530px;
  border-radius: 30px;
  transition: .5s;
  display: flex;
}

.Aboutlogo{
  position: absolute;
  top: 66%;  left: 49%;
  transform: translate(-50%,-50%) ;
  width: auto;   height: 530px;
  transition: .5s;
  display: flex;
 
}

.navlogo{
  position: absolute;
  top: 10%;  left: 1cm;
  padding: 1%;
  /* transform: translate(-50%,-50%) ; */
  width: auto;   height: auto;
  border-radius: 30px;
  transition: .5s;
  display: flex;
}

.navlogo h1{
  padding-top: 6px;
  color: white;
  font-size: 40px;
}

.navlogo .l{
  font-size: 55px;
}

.containerlogo h1{
  color: #e9e9e9;
  display: flex;
  font-size: 100px;
}


.container img{
    display: inline-block;
    width: 100%;   height: 100%;
    border-radius: 30px;
    backface-visibility: hidden; 
    transform: perspective(1000px) rotateY(0deg);
    transition: .5s; 
    /* box-shadow: 0 25px 15px rgb(0 0 0 / 50%); */
    border: 1px solid #e30b0b;
    box-shadow: 0 0 65px rgba(255, 3, 3, 0.845);
}

.front-profile{
  transform: translate(3%,10%);
  display: inline-block;
  color: rgb(176, 176, 176);
  padding: 40px 15px;
  padding-bottom: 27px;
  width: 100%;   height: 100%;
  border-radius: 30px;
  backface-visibility: hidden; 
  transition: .5s; 
  text-align: center;  
  scale: 1.2;
  background: #1b1b1b;
  border: 1px solid #e30b0b;
  box-shadow: 0 0 65px rgba(255, 3, 3, 0.845);

}

.container:hover img {
    transform: perspective(1000px) rotateY(180deg);
}
.content:hover{
  box-shadow: 0 0 185px rgba(255, 3, 3, 0.945) !important;
}

.front-profile:hover {
  box-shadow: 0 0 185px rgba(255, 3, 3, 0.945);
}
.front-profile img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  z-index: 3;

}
.container .content{
    position: absolute;
    top: 0;  left: 0;
    width: 100%;   height: 100%;
    scale:1.1;
    border-radius: 30px;
    backface-visibility: hidden;  
    transform: perspective(1000px) rotateY(-180deg);
    background: #1b1b1b;
    transition: .5s;
    box-shadow: 0 25px 15px rgb(0 0 0 / 50%);
    border: 1px solid #e30b0b;
    box-shadow: 0 0 65px rgba(255, 3, 3, 0.845);
}

.container:hover .content{
    transform: perspective(1000px) rotateY(0);
} 

.content{
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.container .content h1{
    color: #f00;
    background-color: transparent;
    text-align: center;  
}
.section3 {
  /* animation: fadeSwipeUp 4s  forwards; */
  animation: fadeInOut 2s  alternate;
}
.Home{
    animation: fadeInOut 2s  alternate;
    padding: 50px ,230px ,330px;
    min-height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
.face{
  animation: fadeInOut 2s  alternate;
}

.Profile ,.About{
  padding: 50px ,230px ,330px;
  min-height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.footer{
  background-color: rgba(127, 127, 127, 0.358);
  width: 100%;
  color: rgb(165, 165, 165);
  display: flex;
  padding: 18px;
  flex-direction: column-reverse;
  font-size:15px;
  align-items: center;
  align-self: center;
  flex-direction: column;
  text-align: center;

}
.icon{
  width: 35px;
  height: 35px;
  margin: 10px;
  color: #c6c6c6;
  background-color: transparent;
}
.icon:hover{
  scale: 1.1;
  color: #e30b0b;
  transition: 0.5s;
}
.footer1{
  background-color: transparent;
}
.footer a{
  background-color: transparent !important;
}


/* Second Navbar */



.navbar {
	padding-top: 40px;
	text-align: center;
  align-self:center;
  align-content: center;
  display: flex;
  flex-direction: column;
  }

  .navbar h1 {
	padding-bottom: 20px;
	text-transform: capitalize;
  }
  
  /** button group styles **/
  .btn-group {
	border-radius: 1rem;
	text-transform: capitalize;
  }
  .btn-group__item {
	border: none;

	padding: 1.5rem 1.5rem;
  width:140px;
	background-color: rgba(58, 58, 58, 0.566);
  color: rgb(164, 164, 164);
	cursor: pointer;
	margin: 0;
	font-size: 17px;
	/* box-shadow: inset 0px 0px 0px -15px rgb(214, 30, 30); */
	transition: all 300ms ease-out;
	text-transform: capitalize;
  }
  .btn-group__item:last-child {
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
  }
  .btn-group__item:first-child {
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
  }
  .btn-group__item:hover,
  .btn-group__item:focus {
	color: #ffffff;
	box-shadow: inset 0px -4px 130px -15px #4c4c4cd4;
  }
  .btn-group__item:focus {
	outline: none;
  }
  .btn-group__item:after {
	content: "✔️";
	margin-left: 0.5rem;
	display: inline-block;
	color: rebeccapurple;
	position: absolute;
	transform: translatey(10px);
	opacity: 0;
	transition: all 200ms ease-out;
  }
  .btn-group__item--active:after {
	opacity: 1;
	transform: translatey(-2px);
  }

/* Star */

.Staricon{
 font-size: 22px;
  margin: 2px;
  color: rgb(213, 190, 19) !important;

}

/* Votes */

.votes1,.votes2{
  font-size: 40px;
  margin-right: 5px;
  padding-left: 5px;
  color: #9d9d9d;

}
.votes1{
  /* color: #9d9d9d; */
 
}
.votes1:hover{
  color: rgb(159, 255, 5);
  /* scale: 1.05;
  transition: 0.3s; */
}
.votes2{
  /* color: #e12020; */
}
.votes2:hover{
  color: #ff7b00;
  /* scale: 1.05;
  border-radius: 50%;
  transition: 0.3s; */
}
.votes{
  background-color: #3c3c3c;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 33%;
  padding: 6px;
  padding-right: 5%;
  border-radius: 20px;
}

.roww{
  display: flex;
  justify-content: space-between;
}

* {
  background-color: transparent;
}

/* Resposive */

@media screen and (max-width: 1500px) {
  .logo {
    margin: 10px;
  }

  .card h2 {
    width: 330px;
  }
  .card{
    width:430px
  }
}

@media screen and (max-width: 1300px) {
  .category-btn {
    margin: 10px;
  }
  .containerlogo{
    display: block;
    visibility: hidden;
  }
  .front-profile{
    transform: translate(-35%,10%);
  }

.main-card--cointainer {
  /* transform: translateY(6%); */
  grid-template-columns: repeat(2, minmax(380px, 460px));
  }

}

@media screen and (max-width: 900px) {
  .copyright {
    display: none !important;
  }
  .main-card--cointainer {
    /* transform: translateY(6%); */
    grid-template-columns: repeat(1, minmax(380px, 460px));
    }
}

@media screen and (max-width: 820px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .navbar{
    display: none;
  }

  .nav-option{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    height: 300px;
    width: 100%;
    background-color: #333;
    text-align: center;
  }
  .abc{
    height: 80px;
  }
  .search-bar {
    width: 200px;
  }
  .main-card--cointainer {
    /* transform: translateY(6%); */
    grid-template-columns: repeat(1, minmax(300px, 460px));
    }

}
